<div class="chat-container">
  <div class="co">
    <div class="header">
      <div class="profile-info">
        <div class="profile-name">
          {{ user?.firstName || "Name not found" }}
        </div>
        <div class="notification-icon" (click)="openNotifications()">
          <img
            *ngIf="hasFriendRequest"
            src="../../assets/images/notification.png"
            alt="Notifications"
          />
          <img
            *ngIf="!hasFriendRequest"
            src="../../assets/images/bell.png"
            alt="Bell"
          />

          <div *ngIf="hasFriendRequest" class="notification-badge"></div>
        </div>
        <div class="settings-icon" (click)="openDropdown()">
          <img src="../../assets/images/settings.png" alt="Settings" />
        </div>
      </div>
      <div *ngIf="showDropdown" class="dropdown-menu">
        <div (click)="goToEditProfile()">Edit Profile</div>
      </div>
    </div>
    <div class="friend-list">
      <app-friend-list
        [user]="user"
        (friendSelected)="onFriendSelected($event)"
      ></app-friend-list>
    </div>
  </div>

  <div class="chat">
    <div class="chat-header">
      <h2>
        {{
          isFriendTyping
            ? selectedFriend.username + " is typing..."
            : selectedFriend
            ? selectedFriend.username
            : "No Friend Selected"
        }}
      </h2>
    </div>
    <div *ngIf="selectedFriend && selectedFriend.messages && selectedFriend.messages.length > 0 else noMessages">
      <div class="chat-messages">
        <div
          *ngFor="let message of selectedFriend.messages"
          [ngClass]="{
            message: true,
            sent: message.sent,
            received: !message.sent
          }"
        >
          {{ message.content }}
          <div class="message-timestamp">
            {{ message.timestamp | date : "shortTime" }}
          </div>
        </div>
      </div>
    </div>
    
    <ng-template #noMessages>
      <div class="no-messages">
        <p>No messages available. Start a conversation or add friends.</p>
      </div>
    </ng-template>
    <div class="chat-input">
      <input
        [(ngModel)]="text"
        (keyup.enter)="onEnterPress()"
        type="text"
        placeholder="Type your message"
        class="message-input"
      />
      <button class="emoji-icon" (click)="openEmojiPicker()">😊</button>
      <button (click)="sendMessage()">Send</button>
    </div>
    <div *ngIf="showEmojiPicker" class="emoji-picker">
      <div
        *ngFor="let emoji of emojis"
        (click)="insertEmoji(emoji)"
        class="emoji-item"
      >
        {{ emoji }}
      </div>
    </div>
  </div>
</div>
