<div class="chat-container">
    <div class="friend-list">
      <app-friend-list (friendSelected)="onFriendSelected($event)"></app-friend-list>
    </div>
    <div class="chat">
      <div class="chat-header">
        <h2>{{ selectedFriend ? selectedFriend.name : 'No Friend Selected' }}</h2>
      </div>
      <div class="chat-messages">
        <div *ngFor="let message of selectedFriend.messages" [ngClass]="{'message': true, 'sent': message.sent, 'received': !message.sent}">
          {{ message.content }}
        </div>
      </div>
      <div class="chat-input">
        <input [(ngModel)]="text" (keyup.enter)="onEnterPress()" type="text" placeholder="Type your message" class="message-input" />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
  